body{
    position: relative;
}
.number{
    position: absolute;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 40px;
}
.btn{
    font-size: 40px;
    border: 2px solid darkgray;
    border-radius: 5px;
    background-color: darkgray;
    color: white;
}
#input{
    width: 150px;
    background-color: white;
}
