body {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
}
.main-output {
    padding-bottom: 20px;
    font-size: 30px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.input-number {
    width: 50px;
    height: 40px;
    border: 2px solid lightgray;
    border-radius: 5px;
    color: black;
    text-align: center;
    font-size: 30px;
}
.button {
    width: 50px;
    height: 40px;
    margin: 0 5px 0 5px;
    background: lightgray;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 30px;
}
.button:hover {
    background-color: whitesmoke;
    color: gray;
}