.page-wrapper {
    margin: 15px;
    border: solid black;
    
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: solid black;
   
    
  }
  
  .blank-column {
    background-color:white;
    height: 100px;
    border: black solid;
  }
  
  .result-column {
    background-color: white;
    height: 100px;
  }
  
  .blank-column2 {
    background-color: white;
    height: 100px;
    border: black solid;
  }