body {
    display: flex;
    justify-content: center;
    text-align: center;

}

.some-page-wrapper {
    margin: 15px;
    background-color:white;
    border: solid black;
    width: 500px;
    justify-content: center;
    text-align: center;

   
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border: solid black;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    border: solid black;
  }
  
  .input-column {
    background-color:white;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    
  }
  
  .minus-column {
    background-color: blue;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .plus-column {
    background-color: green;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .orange-column {
    background-color:white;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .blue-column {
    background-color: blue;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .green-column {
   ;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;

  }