.page-wrapper {
    margin: 15px;
    
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
   
    
  }
  
  .orange-column {
    background-color:white;
    height: 100px;
  }
  
  .blue-column {
    background-color: white;
    height: 100px;
  }
  
  .green-column {
    background-color: white;
    height: 100px;
  }