#container {
    margin: 0 auto;
    display: flex;
    height: 300px;
    width: 400px;
	display: flex;  /* defaults to row layout */
	justify-content: center;  /* centers items horizontally in row layout */
	align-items: center;  /* centers vertically in row layout */


}

.top {
    height: 200 px;
    font-size: 50px;
    justify-content: center;
    justify-items: center;
    text-align: center;

}

button {
    height: 60px;
    width: 60px;
    background-color: lightgrey;
    color: white;
    font-size: 45px;
    margin: 10px;
    border-radius: 10px;
    border: none;

}

button:hover {
    background-color: white;
    color: lightgray;
    border: solid 2px lightgray;
}
input {
    height: 60px;
    font-size: 40px;
    width: 120px;
    border-radius: 10px;
    border: solid lightgray;
    text-align: center;

}
.mainarea {
    justify-content: center;
    justify-items: center;
    text-align: center;


}
