body {
    padding: 100px;
    justify-content: center;
}

section {
    display: flex;  /* defaults to row layout */
    justify-content: center;  /* centers items horizontally in row layout */
    align-items: center;  /* centers vertically in row layout */
    /* flex-direction: column; will set layout to column instead of row */
}

.add 