 div{
     width: 20%;
     height: 0;
     margin: auto;
 }

 #num2, button {
     width: 60px;
     height: 60px;
     text-align: center;
      padding: 5px;
      
      
     
 }
 #num1{
    width: 60px;
    height: 60px;
    border: 0px;
    display: list-item;
    position: grid;
    text-align: center;
    padding: 70px;

 }