h1  {
    display: flex;
    justify-content: center;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#modifier {
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

button {
    color: white;
    background-color: slategray;
    margin: 20px;
    font-size: 40px;
    border-radius: 10px;
}

button:hover {
    color: slategray;
    background-color: white;
    margin: 20px;
    font-size: 40px;
    border-radius: 10px;
}